<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="me.vandalko.dynamic_theme">
    <dist:module
            dist:onDemand="false"
            dist:instant="false"
            dist:title="@string/title_dynamic_theme">
        <dist:fusing dist:include="true"/>
    </dist:module>
</manifest>

